@mixin link-underline($active: false) {
  display: inline-block;
  line-height: 1em;
  text-decoration: none;
  position: relative;
  color: $text-red;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $text-red;
    transform: scaleX(if($active, 1, 0));
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }

  @if ($active == false) {
    &:hover::before {
      transform: scaleX(1);
    }
  }
}

@mixin screen-gt($size) {
  @media screen and (min-width: $size) { @content; }
}

.emphasis-red {
  color: $text-red;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.descriptions {
  font-weight: 400;
  line-height: 1em;
  margin-bottom: 12px;

  > * {
    margin-bottom: 3px
  }
}

.description-sentences {
  p {
    line-height: 1.2em;
    margin-bottom: 8px;
  }
}

.section-title {
  font-size: calc(26px + 1.5vw);

  @include screen-gt($size-tablet) {
    font-size: calc(40px + 2vw);

    @include screen-gt($size-desktop) {
      font-size: 70px;
    }
  }
}

.link-underline {
  @include link-underline();

  &.router-link-active {
    @include link-underline(true);
  }
}

.all-caps {
  text-transform: uppercase;
}